body {
    margin: 0;
    padding: 0;
    width: 100vw;
    max-height: 100vh;
    font-family: "League Spartan", sans-serif;
    overflow-x:hidden;

  
}
header {
    width: 100vw;
    min-height: 50vh;

}

.slideOne-wrap {

    display: flex;
    
}


.headerWrap{
    
    max-width: 100% ;
    min-height: 50vh;
     display: flex;
     overflow-x:hidden ;



   }

 
 main {
     
     min-height: 50vh;

 
 }


nav {
    top: 30px;
 
}

.menu {
    width: 60vw;
    
}

.listitems {
    width: 100vw;
    height: 110px;
    margin-top: -60px;
    padding-top: 45px;
    overflow-x: hidden;
    background: hsl(0, 0%, 100%);
    display: none;
    justify-content: space-between;



}



.insideListitems li a {
    color: hsl(0, 0%, 0%);
    font-weight: 600;
    text-transform: lowercase;
    text-decoration: none;
    margin-right: 20px;



}

#openmenu {
    margin-left: 25px;

}

#image1,#image2,#image3 {
    height: 350px;
  
}




.insideslideTwo-wrap{
    width:100vw ;
}



.slideTwo-wrap .tophead {
    width: 87%;
    font-size: 36px;
    font-weight: 700;
    color: hsl(0, 0%, 0%);

}

.slideTwo-wrap p {
    width: 87%;


}



.para {
    font-weight: 500;

    color: hsl(0, 0%, 63%);
}

.tophead2 {
    color: hsl(0, 0%, 27%);
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-left: 10px;
}

.leftrightWrap {
 position: absolute;
 
 top: 295px;
width: 100vw;
display: flex;
 justify-content: end;
 
 

}

.leftrightWrap-v2{
    display: none;
}

.leftright {
    width: 110px;
    height: 55px;
    background: hsl(0, 0%, 0%);
display: flex;
justify-content: space-between;

}

.left.right,.arrows{
    width: 11px;
    
    }

.left{
padding: 20px;
padding-top: 17px;
cursor: pointer;

}

.left:hover{
    background: hsl(0, 0%, 27%);
width: 50%;


}

.right{
    padding: 20px;
    padding-top: 17px;
    cursor: pointer;
    }

.right:hover{
    background: hsl(0, 0%, 27%);
width: 50%;

}

.slideOne-wrap-1{
height: 350px;
  
   
  }






.secOne img {
    width: 100vw;

}

.insidesecTwo .tophead3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
    width: 87%;

}

.insidesecTwo .para {
    width: 87%;

}

.shop {

    width: 90vw;
    margin-top: 20px;
}

.shop h1 img,:hover{
    color: hsl(0, 0%, 63%);

}

.secThree img {
    width: 100vw;
}








@media (min-width:376px) {


    .imgmobile {
        display: none;
        

    }

    .imglaptop {
        display: block !important;
        width: 100%;
       height: 350px;


    }

    

   #image2,#image3 {
    
        height: 350px;
    }

    .attribution{
        
        margin-bottom: 20px;
        
    }
    

}

@media (min-width:840px) {

    

    .listitems {
        width: 350px;
        height: auto;
        position: relative;
        top: -20px;
        left: 110px;
        padding-top: 63px;
        justify-content: left;
        background: unset;
        display: flex;


    }

    .insideListitems li a {
        color: hsl(0, 0%, 100%);
        margin-right: 25px;

    }

    .listitems img {
        opacity: 0;
    }


    


    .menu img:first-of-type {
        display: none;

    }

    .menu img:last-of-type {
        padding-top: 15px;
        padding-left: 60px;
    }



    .insideListitems li a:hover {
        text-decoration: underline;


    }


   

    header {
      
     width: 100vw;
    min-height: 65vh;
    
    
    
    }





.sections{
   
 min-width: 100vw;
 
 display: flex;

}


.headerWrap{
    min-width: 100vw;
  display: flex;
justify-content: start;


}



    .slideOne-wrap {
       width: 50vw ;
       min-height: 65vh;
       
   
   
    

    }

 

    #image1{
        
        width: 50vw;
       min-height:65vh ;
     
       
  
    
    
    }

    #image2 {
        width: 50vw;
        min-height:65vh;
    }

    #image3 {
        width: 50vw;
        min-height:65vh;
        
    }


    .slideTwo-wrap {
        width: 50vw;
        min-height: 65vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
        
     
    
    


    }

    .insideslideTwo-wrap{
      width: 50vw;
      height: 90%;
        justify-content: center !important;
        align-items: start !important;
        margin-top:unset !important;
       
       

        
        padding-left: 15%;


    }

    .insideslideTwo-wrap .tophead{
      width: 55%;
      

    }

    .insideslideTwo-wrap .para{
        width: 68.7%;
        

    }

    .slideTwo-wrap .shop {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: -10px;
        cursor: pointer;
        
    

    }




    .leftrightWrap {
       
            
         
           
         position: relative;
         top: 0px;
            display: flex;
           justify-content: start;
           
   
    }

    .leftright{
        
        width: 120px;
        height: 60px;
      
    }

    .left.right,.arrows{
        width:unset;
        
        }
    

     .leftrightWrap-v2{
        display: unset;
      
     }   


    main {

        width: 100vw;
        min-height: 35vh;
        display: flex;



    }

    .secOne{
        width: 25vw;
    }

  
    .secOne img {
        /* max-width: 25vw; */
        width: 100%;
        min-height: 100%;
        object-fit: cover;
        /* object-position: center; */
        
       
        

    }

    .secTwo {
        /* width: 41vw; */
        width: 41%;
        min-height: 100%;
        margin-top: 0px !important;
        padding-top: 55px !important;


    }



    .secThree {
        margin-top: 0px !important;

    }

    .secThree{
        width: 34vw;
    }

    .secThree img {
        /* width: 34vw; */
        width: 100%;
        min-height: 100%;
        object-fit: cover;

    }

}